/*This file is for the main CSS on my blog's homepage*/
.labelbubble{
		border-radius: 20px;
		border-style: solid;
		border-width: 2px;
		text-decoration: none;
		padding: 5px;
		/*padding: initial;*/
	}

.labelbubble:hover{
	border-radius: 20px;
	border-style: solid;
	border-width: 2px;
	text-decoration: none;
	padding: 5px;
}

.redbubble{
	border-color: red;
	color: red;
}

.redbubble:hover{
	border-color: blue;
	color: blue;
}

.bluebubble{
	border-color: blue;
	color: blue;
}

.bluebubble:hover{
	border-color: red;
	color: red;
}