.code{
	/*Gray background-color: rgb(160,160,160);*/
	background-color: rgb(25,28,35);
	border-radius: 20px;
}

.codestr{/*strings in code*/
	color:yellow;
	background-color: rgb(160,160,160);
}

.codenum{/*numbers in code*/
	color:blue;
}

.codecomment{/*numbers in code*/
	font-family: monospace;
	color: white;
	/*color:rgb(25,28,35);*/
	/*background-color: rgb(160,160,160);*/
}