/*This file is used to add syntax highlighting in my blog when I write code*/

.code{
	/*Gray background-color: rgb(160,160,160);*/
	background-color: rgb(25,28,35);
	color: rgb(230, 227, 220);
	border-radius: 20px;
}

.codestr{/*strings in code*/
	color:yellow;
	background-color: rgb(160,160,160);
}

.codenum{/*numbers in code*/
	color:blue;
}

.codecomment{/*numbers in code*/
	font-family: monospace;
	color: white;
	/*color:rgb(25,28,35);*/
	/*background-color: rgb(160,160,160);*/
}

.codekeyword{/*keyword in code*/
	font-family: monospace;
	font-weight: bold;
	color: white;
	/*color:rgb(25,28,35);*/
	/*background-color: rgb(160,160,160);*/
}

.codevar{/*variable in code*/
	font-family: monospace;
	font-weight: normal;
	color: white;
	/*color:rgb(25,28,35);*/
	/*background-color: rgb(160,160,160);*/
}

.posttext{
	font-family: Arial, Helvetica, sans-serif;
}